* {
  box-sizing: border-box;
  }

body {
  background-color: #edf5f6; 
}

.category-button {
  background-color: #415563;
  color: white;
  border: 1px solid #415563;
  padding: 20px;
  margin-right: 20px;
  cursor: pointer;
  outline: none; 
  
}

  .category-button.reset {
    margin: 0;
    background-color: #2E384C;
  }

button:hover{
  /*color: #FFC7AC;*/
  /*color: #44D1B9;*/
  color: #FFEFA0;
  /*color: #FFD400;*/
}

#buttons{
  width: 34%;
  margin: 0 auto;
  display: box;
  box-align: center;
}

.flash-card {
  background-color: #fbfdfb;
  width: 60%;
  height: 400px;
  margin: 0 auto;
  margin-top: 40px;
  border: 1px solid gray;
  font-family: Helvetica;
  padding: 50px;
  box-shadow: 3px 4px 5px 1px #6b6b6b; }
  .flash-card h1 {
    font-size: 40px;
    text-align: center;
    margin-bottom: 40px; }
  .flash-card .flash-card-answers {
    width: 100%;
    margin: 0 auto;
    clear: both; }
    .flash-card .flash-card-answers:before, .flash-card .flash-card-answers:after {
      content: " ";
      /* 1 */
      /* 2 */ }
    .flash-card .flash-card-answers:after {
      clear: both; }
  .flash-card .flash-card-answer {
    display: flex;
    justify-content: center;
    flex-direction: column; 
    vertical-align: middle;
    background-color: white;
    min-height: 100px;
    text-align: center;
    border: 1px solid gray;
    padding: 30px;
    float: left;
    width: 32%;
    margin-right: 2%;
    cursor: pointer;
    /*line-height: 1.3em;*/ }
    .flash-card .flash-card-answer:last-child {
      margin-right: 0; }

.answer-feedback {
  clear: both;
  margin: 30px;
  padding: 40px;
  text-align: center;
  font-weight: bold; 
  vertical-align: bottom;
}

.correct {
    color: #317839; }
.incorrect {
    color: #932432; }

#statistics {
  padding: 40px; 
  font-family: Helvetica;
}
  #statistics:before, #statistics:after {
    content: " ";
    /* 1 */
    display: table;
    /* 2 */ }
  #statistics:after {
    clear: both; }
  #statistics #scoreboard {
    float: right;
    margin: 0 auto; }
    #statistics #scoreboard h3 {
      margin-right: 40px;
      float: left; }
      #statistics #scoreboard h3:last-child {
        margin-right: 0; }
      #statistics #scoreboard h3 span {
        font-weight: bold; }
        
      
 .active {
    background: #A3B2C2; }